
/* clear */
.clearfix:after {
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0
} 
.clearfix {
    zoom:1
} 


.row{
    margin-top: 10px;
}
.col {
    display: inline-block;
    float: left;
    padding: 5px,10px;
}


/********************************************************/
html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
	font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}


/********************************************************/
button,
input[type="checkbox"] {
	outline: none;
}

.hidden {
	display: none;
}
/*******************************顶部的*************************************/
.todoapp {
	background: #fff;
	margin: 130px 0 40px 0;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todoapp h1 {
	position: absolute;
	top: -155px;
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}  

.new-todo {
    margin: 0;
    list-style: none;
    padding-left: 16px;
    border: none;
    display: inline;

}

.new-todo input[type="checkbox"] {
	/* width: 15%; */
    /* height: 15%; */
    align-content: center;
    border: none; /* Mobile Safari */
}

.new-todo input[type="checkbox"]:before {
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
	padding: 10px 16px;
}

.new-todo input[type="checkbox"]:checked:before {
	color: #737373;
}

.new-todo input[type="text"] {
	position: relative;
    margin: 0;
    width: 85%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
    color: inherit;
	padding: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.new-todo input[type="text"]::-webkit-input-placeholder {
        font-style: italic;
        font-weight: 300;
        color: #e6e6e6;
}
    
.new-todo input[type="text"]::-moz-placeholder {
        font-style: italic;
        font-weight: 300;
        color: #e6e6e6;
}
    
.new-todo input[type="text"]::placeholder {
        font-style: italic;
        font-weight: 300;
        color: #e6e6e6;
}

/*******************footer相关的**************************/
/* .footer {
	margin: 0;
	padding: 5px;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}

.footer div {
    float: left;
    display: inline;
    text-align: center;
    margin-left: 100px;
    align-content: center;
}

.footer div span{
    zoom: 1;
    float:left;
    display: inline;
    font-size: 10px;
    text-decoration: none;
    color:inherit;
    text-align: center;
    margin: 1px;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 3px 10px;
    vertical-align: baseline;
    outline: none;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;

}

.footer div span.selected,
.footer div span:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

.footer div span.selected {
	border-color: rgba(175, 47, 47, 0.2);
} */

/********************************************************/
.todo-list {
    margin: 0;
	right: 0;
	left: 0;
	padding: 16px 16px 16px 16px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.03);
}
.todo-list span{
    background-color: rgb(226, 215, 236);
    position: relative;
    /* margin: 0; */
    max-width: 450px;
	font-size: 20px;
	font-family: inherit;
	font-weight: inherit;
    line-height: 1.4em;
	border: 0;
	outline: none;
    color: inherit;
	padding: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    white-space: normal;
}

.todo-list button{
    /* display: none; */
    top: 0;
    right: 10px;
    float: right;
    bottom: 0;
    border:0;
    outline:none;
    cursor: pointer;
    background: none;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}
.todo-list button:hover {
    color: #af5b5e;
}
.todo-list button:after {
    content: '×';
}

.todo-list span.checked {
    text-decoration:line-through;
    color: rgb(180, 177, 177);
}

.todo-list input .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	appearance: none;
}

.todo-list input .toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.todo-list input .toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

